# fly.toml app configuration file generated for xfer-turn on 2025-11-01T02:00:43-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'xfer-turn'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '3478'

[[services]]
  protocol = 'udp'
  internal_port = 3478

  [[services.ports]]
    port = 3478

[[services]]
  protocol = 'tcp'
  internal_port = 3478

  [[services.ports]]
    port = 3478

[[vm]]
  size = 'shared-cpu-1x'
